@media (max-width:768px){

.main{
    grid-template-columns:1fr;
    padding:10px;
    gap:12px;
}

.sidebar{
    height:420px;
}

.chart-box{
    min-height:900px;
}

#chart{
    height:760px;
    width:100%;
    flex:none;
}

}